/* Globale styles her */

@view-transition {
  navigation: auto;
}

:root {
  interpolate-size: allow-keywords;
}
body {
  display: grid;
  grid-template-columns:
    [full-start] 1fr [content-start] minmax(0, 600px)
    [content-mid] minmax(0, 600px)
    [content-end]
    1fr [full-end];
}

header,
footer,
.newsletter {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: full;
  > :not(&) {
    grid-column: content;
  }
}

.breakout {
  background: var(--color-blue-700);
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-reguler {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

p {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Cabin", sans-serif;
}
