---
import employees from "../data/employees.json";
import Layout from "@layouts/Layout.astro";
import EmployeeCards from "@components/EmployeeCards.astro";
import Faq from "@components/Faq.astro";
import Vision from "@components/OurVision.astro";
import Banner from "@components/Banner.astro";
import ButtonLink from "@components/ButtonLink.astro";
import Values from "@components/Values.astro";

const onlyTwo = employees.slice(0, 2);
---

<Layout>
  <Banner
    eyebrow="about"
    title="Igniting Innovation"
    text="Our strength lies in the collaboration between our talented teams and esteemed clients. We cultivate a workplace that champions innovation, promotes peak performance, and guarantees client satisfaction."
  />

  <Vision />
  <Values variation="light" buttonVariant="dark" />
  <section class="our-team">
    <div class="team-wrapper">
      <div class="team-grid">
        <p class="first-p">OUR TEAM</p>
        <h2>We champion the bold</h2>
        <p>
          Our success stems from the synergy between dedicated teams and our
          valued clients. We prioritize a company culture that fosters
          exceptional productivity, ensures customer satisfaction.
        </p>
        <div class="btn-wrapper">
          <ButtonLink text="Meet the team" />
        </div>
      </div>

      <div class="cards-wrapper">
        <EmployeeCards class="team-cards-2" data={onlyTwo} />
      </div>
    </div>
  </section>

  <Faq />
</Layout>

<style>
  .our-team {
    display: grid;
    grid-template-columns: subgrid;
    align-items: start;
    grid-column: full;
    margin-top: var(--space-xl);
  }

  .our-team > * {
    grid-column: content;
  }

  .team-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  .team-grid {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .team-cards-2 > * {
    min-width: 300px;
  }

  .first-p {
    font-size: var(--step--1);
    margin-bottom: var(--space-s);
    color: var(--color-neutrals-700);
  }

  p {
    font-size: var(--step--1);
    margin-bottom: var(--space-s);
    color: var(--color-neutrals-700);
  }

  h2 {
    font-size: var(--step-3);
    font-weight: 600;
    margin-bottom: var(--space-s);
  }

  @media (max-width: 768px) {
    .team-wrapper {
      grid-template-columns: 1fr;
    }

    .cards-wrapper {
      margin-top: 2rem;
    }
  }
</style>
