---
import Layout from "@layouts/Layout.astro";
import EmployeeCards from "@components/EmployeeCards.astro";
import Faq from "@components/Faq.astro";
---

<Layout>
  <h2>about</h2>
  <Faq />
</Layout>
