---
import Layout from "@layouts/Layout.astro";
import EmployeeCards from "@components/EmployeeCards.astro";
import Faq from "@components/Faq.astro";
import ExpectCard from "@components/WhatToExpect.astro";
import Vision from "@components/OurVision.astro";
---

<Layout>
  <h2>about</h2>
  <EmployeeCards />
  <Faq />
  <ExpectCard />
  <Vision />
</Layout>
