---
import Layout from "@layouts/Layout.astro";
import EmployeeCards from "@components/EmployeeCards.astro";
import DashboardLogin from "@components/DashboardLogin.astro";
---

<Layout>
  <p>Team</p>
  <h1>The Consultors</h1>
  <p>
    Our success stems from the synergy between dedicated teams and our valued
    clients. We prioritize a company culture that fosters exceptional
    productivity, ensures customer satisfaction.
  </p>
  <EmployeeCards />
</Layout>
