---
import Layout from "@layouts/Layout.astro";
import EmployeeCards from "@components/EmployeeCards.astro";
import DashboardLogin from "@components/DashboardLogin.astro";
---

<Layout>
  <h2>Team</h2>
  <DashboardLogin />
</Layout>
