---
const {
  text = "Button",
  type = "button",
  variant = "default",
  ...props
} = Astro.props;
---

<button
  type={type}
  class={`btn ${variant === "yellow" ? "btn-yellow" : ""}`}
  {...props}
>
  {text}
</button>

<style>
  @layer components {
    .btn {
      padding: 15px 34px;
      border-radius: var(--border-radius-1);
      background-color: var(--color-neutrals-50);
      border: none;
      cursor: pointer;
      font-weight: 500;
      color: var(--color-neutrals-900);

      &:hover {
        background-color: color-mix(
          in oklab,
          var(--color-neutrals-50),
          #000 20%
        );
      }

      &:active {
        background-color: color-mix(
          in oklab,
          var(--color-neutrals-50),
          #000 20%
        );
      }
    }

    .btn-yellow {
      background-color: var(--color-yellow-500);

      &:hover {
        background-color: color-mix(
          in oklab,
          var(--color-yellow-500),
          #000 10%
        );
      }
      &:active {
        background: color-mix(in oklab, var(--color-yellow-500), #000 20%);
      }
    }
  }
</style>
