---
const {
  text = "Button",
  type = "button",
  variant = "default",
  ...props
} = Astro.props;
---

<button
  type={type}
  class={`btn ${variant === "yellow" ? "btn-yellow" : ""}`}
  {...props}
>
  {text}
</button>

<style>
  @layer components {
    .btn {
      padding: 0.3rem 1.5rem;
      border-radius: 1rem;
      background-color: var(--color-neutrals-50);
      border: none;
      cursor: pointer;
      font-weight: 500;
      color: var(--color-neutrals-900);
    }

    .btn-yellow {
      background-color: var(--color-yellow-500);
    }
  }
</style>
