---
import FaqData from "../data/faq.json";
import PlusIkon from "../icons/plus.svg";
---

<section class="faq">
  <div class="faq-container">
    <div class="faq-label">
      <p class="first-p">FAQ</p>
      <h2>Customer Questions</h2>
    </div>
    {
      FaqData.faq.map((item) => (
        <details class="faq-item" name="accordian">
          <summary>
            <span class="question">{item.question}</span>
            <PlusIkon />
          </summary>

          {item.answer.split("\n\n").map((p) => (
            <p class="answer">{p}</p>
          ))}
        </details>
      ))
    }
  </div>
</section>

<style>
  @layer components {
    :root {
      interpolate-size: allow-keywords;
    }

    .faq-label {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        font-size: var(--step-3);
        font-weight: 650;
        margin-bottom: var(--space-s);
      }

      .first-p {
        font-size: var(--step--1);
    margin-bottom: var(--space-s);
    color: var(--color-neutrals-700);
      }

      .answer{
         font-size: var(--step--1);
    margin-bottom: var(--space-m);
    color: var(--color-neutrals-700);
      }
    }

    .faq {
      grid-column: content-start / content-end;
      padding-inline: var(--space-xl);
      background: var(--color-surface-secondary);
      width: 100%;
      margin-bottom: var( --space-xl);

      .faq-container {
        margin-inline: auto;
        padding: var(--space-xl);
        max-width: 950px;
        display: block; /* vigtig */
      }
    }

     details {
      display: block; vigtig */
      color: hsl(190 30% 12%);
      interpolate-size: allow-keywords;
      border-bottom: 1px solid #dadada;

      summary {
        display: flex;
        justify-content: space-between;
        font-weight: 700;
        color: var(--color-neutrals-900);
        user-select: none;
        cursor: pointer;

        &::marker,
        &::-webkit-details-marker {
          content: "";
          display: none;
        }

        span {
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          padding-block: 1rlh;

          svg {
            inline-size: auto;
            height: 1lh;
            flex-shrink: 0;
            transform: rotate(var(--r, 0));
            transition: transform 0.3s ease;
          }
        }
      }

      &[open] {
        --r: 90deg;
      }

      @supports (interpolate-size: allow-keywords) {
        &::details-content {
          height: 0;
          transition: 0.4s allow-discrete;
          overflow: clip;
        }

        &[open]::details-content {
          block-size: auto;
        }
      }
    } */
  }
</style>
