---
import Button from "./Button.astro";
import Logo from "../icons/AskExperts.svg";
import DashboardLogin from "./DashboardLogin.astro";
import "../styles/tokens.css";
---

<header class="breakout">
  <div class="header_flex">
    <a href="/">
      <Logo />
    </a>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/case">Case Study</a></li>
        <li><a href="/team">Team</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>

    <Button id="nav-btn" popovertarget="pop" text="Login" />
  </div>
</header>

<div id="pop" popover>
  <DashboardLogin />
</div>

<style>
  @layer components {
    .header_flex {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding: clamp(10px, 2vw, 20px) clamp(20px, 5vw, 40px);

      a {
        display: flex;
        align-items: center;

        svg {
          width: clamp(80px, 15vw, 120px);
          height: auto;
        }
      }

      nav {
        ul {
          display: flex;
          list-style: none;
          gap: clamp(15px, 3vw, 30px);

          li {
            a {
              text-decoration: none;
              color: var(--color-neutrals-50);
              font-weight: 500;
              font-size: var(--step--0);
              transition: color 0.3s;
            }
          }
        }
      }
    }

    [popovertarget] {
      anchor-name: --nav-btn;
    }

    [popover] {
      position: absolute;
      position-anchor: --nav-btn;
      position-area: bottom span-left;
      justify-self: anchor-center;
    }

    #pop {
      border-radius: var(--border-radius-0);
      background-color: var(--color-neutrals-200);
      border: none;
    }
  }
</style>
