---
import Checkmark from "../icons/checkmark.svg";
---

<section class="expect">
  <div class="container">
    <div class="image-wrapper">
      <div class="green-box"></div>
      <img
        src="src/assets/images/expect.webp"
        alt="billede af 3 personer som snakker"
      />
    </div>

    <div class="content">
      <p class="first-p">WE’LL WORK WITH YOU</p>
      <h2>What To Expect</h2>

      <p class="intro">
        Our collaboration is built on transparency, efficiency, and measurable
        results. Together, we create strategies tailored to your unique needs
        and goals.
      </p>

      <ul class="point-list">
        <li>
          <span class="check"><Checkmark /></span>
          Collaborate to build actionable strategies that drive sustainable growth
          and deliver tangible outcomes.
        </li>

        <li>
          <span class="check"><Checkmark /></span>
          Identify opportunities to optimize processes and implement impactful solutions
          with measurable results.
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  @layer components {
    .expect {
      grid-column: content-start / content-end;
      container-name: expect;
      container-type: inline-size;

      margin-bottom: var(--space-2xl);

      .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
        align-items: start;
      }

      .image-wrapper {
        position: relative;
      }

      .image-wrapper img {
        width: 100%;
        border-radius: 18px;
        display: block;
        position: relative;
        z-index: 2;
      }

      h2 {
        font-size: var(--step-3);
        font-weight: 600;
        margin-bottom: var(--space-xs);
      }

      .green-box {
        position: absolute;
        width: 130px;
        height: 110px;
        background: var(--color-green-400);
        border-radius: 20px;
        top: -30px;
        left: -25px;
        z-index: 1;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          display: flex;
          gap: var(--space-s);
          color: #374151;
        }
      }
      .check {
        color: var(--color-green-600);
        width: 20px;
        height: auto;
        border-radius: 50%;
        flex-shrink: 0;
      }

      .content {
        max-width: 45ch;
      }
      .content .first-p {
        letter-spacing: 0.1em;
        margin-bottom: var(--space-xs);
      }

      .content p {
        margin-bottom: var(--space-s);
      }

      @container expect (max-width: 700px) {
        .container {
          grid-template-columns: 1fr;
        }
      }
    }

    .point-list > *:first-child {
      margin-bottom: var(--space-xs);
    }
  }
</style>
